extends _base

block content
   .container
      main
         img(src='images/beatles.gif')
         section#intro
            p Diese Seite ist zwecklos. Ihr einziger Zweck ist es, der Zwecklosigkeit zu huldigen.
            p.
               Gut, genau genommen ist sie deshalb nicht mehr zwecklos.
               Aber dieses Huldigen ist erst der zweite Schritt.
               Der erste Schritt war die Idee, eine solche Seite aufzuschalten.
               Und diese Idee war rein, also zwecklos. 
               Der Zweck kam erst später hinzu. 
               Und dieser Zweck, das Huldigen der Zwecklosigkeit, ist ein sehr zweckarmer Zweck. 
            p Deswegen ist diese Seite – zumindest beinahe – zwecklos. 
         img(src='images/penguins.gif')
         article#essenz-des-lebens
            h2 
               span.title Die Essenz des Lebens
               //- a(href='http://dominiclooser.ch/text/die-essenz-des-lebens') -> 
               br
               span.subtitle Teil Neun – Zweck
            p Der Zweck tötet die Mittel
         img(src='images/asian.gif')
         article#pandas-pasta
            header
               h2 Pandas Pasta
            section
               p Der Krieg vorbei
               p Die Nase gebrochen
               p Der Arzt noch jung
            section  
               p Jung freute sich
               p Freud liebte seine Mutter nicht
               p Das Nichts war leer 
               p Der Fisch noch frisch
               p Die Qualle qualmte immer noch
            section
               p Und der Panda machte Pasta
         footer
            p.
               Made without Zweck by <a href='http://dominiclooser.ch'>Dominic Looser</a>. 
               Weitere Zwecklosigkeiten unter 
               <a href='http://tsnuk.me'>tsnuk.me</a> (T-Shirts) und
               <a href='http://diekrassetasse.com'>diekrassetasse.com</a> (krasse Tassen).  



