extends _base

block content
   .container
      main
         img(src='images/beatles.gif')
         .text
            p Diese Seite ist zwecklos. Ihr einziger Zweck ist es, der Zwecklosigkeit zu huldigen.
            p.
               Gut, genau genommen ist sie deshalb nicht mehr zwecklos.
               Aber dieses Huldigen ist erst der zweite Schritt.
               Der erste Schritt war die Idee, eine solche Seite aufzuschalten.
               Und diese Idee war rein, also zwecklos. 
               Der Zweck kam erst später hinzu. 
               Und dieser Zweck, das Huldigen der Zwecklosigkeit, ist ein sehr Zweck-armer Zweck. 
            p Deswegen ist die Seite – zumindesten beinahe – zwecklos. 
         img(src='images/penguins.gif')
         .essenz
            h2 
               a(href='http://dominiclooser.ch/text/die-essenz-des-lebens') Die Essenz des Lebens
               span –  Teil 9: Zweck
            p Der Zweck tötet die Mittel
         img(src='images/asian.gif')


