@keyframes turn
    100% 
        transform: rotate(180deg)

@keyframes switch-sides
    0%
        margin-left: 0
    50%
        margin-left: auto

@keyframes change-background-color
    0% 
        background-color: primary-color
    5%
        background-color: primary-color
    6%
        background-color: white
    99%
        background-color: white
