.button
    display: inline-block
    width: 100px
    height: 100px
    // border: border
    color: button-color
    border-radius: 50%
    cursor: pointer
    text-transform: uppercase
    padding: 0.5em 1em
    background-color: dark
    &:hover
        background-color:  #FE504E
        color: white

.hidden
    display: none

.two-columns 
    @media two-columns
        display: flex
        .column
            width: 50%
        .column:first-child
            padding-right: var(--semi-unit)
        .column:nth-child(2)
            padding-left: var(--semi-unit)

.text-plus
    @media text-plus
        display: flex

.text-plus-text
    margin: var(--unit) 0 0 0
    @media text-plus
        margin: 0 var(--unit) 0 0

.text-plus-plus
    align-self: left

.plus-text
    @media text-plus
        display: flex

.plus-text-text
    margin: var(--unit) 0 0 0
    @media text-plus
        margin: 0 0 0 var(--unit)

.plus-text-plus
    align-self: left

.page-header
    background: page-header-background-color
    color: page-header-color
    

.colored
    color: primaryColor

.unmarked-links
    a
        text-decoration: none

.arrow-list
    list-style: none
    li:before
        content: '\2192 \a0'

.stacked-list
    list-style: none
    padding: 0

.separated-list
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child)
        margin-right: 10px

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'

    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre

.wrapper
    padding: 0 var(--padding)
    margin: 0 auto
    max-width: max-page-width

.text-container
    margin: 0 auto
    padding: 0 20px
    max-width: text-width

.spaced-paragraphs
    p+p
        margin-top: var(--semi-unit) 

.indented-paragraphs
    p+p
        text-indent: calc(1*var(--unit))