:root
    --m: var(--font-size)
    --s: calc(var(--m) / var(--scale-factor))
    --xs: calc(var(--s) / var(--scale-factor))
    --l: calc(var(--scale-factor) * var(--m))
    --xl: calc(var(--scale-factor) * var(--l))
    --xxl: calc(var(--scale-factor) * var(--xl))
    --xxxl: calc(var(--scale-factor) * var(--xxl))
    --xxxxl: calc(var(--scale-factor) * var(--xxxl))
    --xxxxxl: calc(var(--scale-factor) * var(--xxxxl))
  
body
    color: text-color
    font-size: var(--m)
    font-family: body-font
    line-height: var(--line-height)
    text-rendering: geometricPrecision


h1, h2, h3, h4
    font-family: header-font

h1
    font-size: var(--xl)
    line-height: header-line-height

h2 
    font-size: var(--m)
    line-height: header-line-height


h3
    font-size: var(--m)
    line-height: header-line-height

// p
    // font-weight: 500

a
    color: inherit
    text-decoration: underline
    &:hover
        cursor: pointer
        color: primaryColor