// breakpoints
text-plus = '(min-width: 980px)'
big-text = '(min-width: 40em)'
two-columns = big-text

// typography
body-font = 'EB Garamond'
header-font = 'Rubik'
header-line-height = 1
text-width = 800px
:root
    --line-height: 1.5
    --scale-factor: 1.618
    --font-size: 20px
    @media big-text
        --font-size: 22px
    --unit: calc(var(--line-height) * var(--font-size))
    --semi-unit: calc(0.5*var(--unit))

// colors
dark = rgba(0,0,0,0.87)
light-grey = #f7f7f7
middle-grey = #e8e6e6
primary-color =  #DB222A
text-color = dark
background-color = white 
page-header-background-color = inherit
page-header-text-color = inherit
button-color = dark
soft-border-color = grey
footer-background-color = inherit

// misc
border = 1px solid text-color
max-page-width = 500px