// breakpoints
big-text = '(min-width: 800px)'
two-columns = '(min-width: 600px)'
text-plus = two-columns

// typography
body-font = 'EB Garamond'
header-font = 'EB Garamond'
number-font = 'Space Mono'
header-line-height = 1
text-width = 800px
:root
    --line-height: 1.45
    --scale-factor: 1.3
    --font-size: 22px
    @media big-text
        --font-size: 28px
    --unit: calc(var(--line-height) * var(--font-size))
    --semi-unit: calc(0.5*var(--unit))
    --two-units: calc(2*var(--unit))
    --three-units: calc(3*var(--unit))
    --four-units: calc(4*var(--unit))
    --padding: var(--unit)

// colors
dark = rgba(0,0,0,0.87)
light-grey = #f7f7f7
middle-grey = #e8e6e6
primary-color =  #DE3107


text-color = dark
background-color = white 
page-header-background-color = inherit
page-header-text-color = inherit
button-color = dark
soft-border-color = grey
footer-background-color = inherit

// misc
border = 1px solid text-color
max-page-width = 1000px